<div class="handle">
	<section class="row">
		<div class="col">
			<h3 data-aos="flip-rightx" data-aos-delay="150" data-aos-duration="300">Web development</h3>
			<p data-aos="fade-inx" data-aos-delay="220">The first thing I do when starting a project whether it's in a team or not, is to set the working procedure and study the current one in case there is. I've aquired a good ammount of experience within the LAMP environment, Linux, MySQL, MariaDB, PHP and Python. I also enjoy working with modern frameworks: Angular, SASS, etc.</p>
			<div class="row persp colmob">
				<div class="row grid">
					<div data-aos="flip-rightx" *ngFor="let item of projs" class="item coolblur">
						<a href="{{item.homepage}}" target="blank"><h4>{{item.name}}</h4></a>
						<p>{{item.description}}</p>
					</div>
				</div>
				<div data-aos="cardopen" id="x" class="cardr col f dn">
					<h6>My Gear</h6>
					<hr>
					<span>Frontend</span>
					<ul class="row">
						<li>Angular</li>
						<li>JS/TS</li>
						<li>CSS/SASS/SCSS</li>
						<li>Bootstrap</li>
						<li>JQuery</li>
						<li>HTML</li>
						<li>XML</li>
					</ul>
					<span>Backend</span>
					<ul class="row">
						<li>ExpressJS</li>
						<li>NodeJS</li>
						<li>Heroku</li>
						<li>CORS</li>
						<li>Git</li>
						<li>MongoDB</li>
						<li>PHP</li>
						<li>Python</li>
					</ul>
					<span>Learning</span>
					<ul class="row">
						<li>React</li>
						<li>React Native</li>
						<li>JSX</li>
						<li>Go</li>
						<li>COBOL</li>
						<li>Assembly</li>
						<li>Offensive Security</li>
						<li>IA/ML</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="row colmob spb gapper">
			<div data-aos="flip-down" class="itemshow">
				<div class="thumb">
					<img src="./assets/thumbs/covidelpi.jpg" alt="Covidelpi">
				</div>
				<div class="padd col">
					<a data-aos="flip-down" href="https://covidelpi.com/index.php" target="_blank">Covidelpi</a>
					<span data-aos="fade-in"><i>Cooperative for the provision of telephone and other services</i></span>
					<p data-aos="fade-in">My Roles: <i>HTML, CSS, PHP, JQuery</i></p>
					<div class="row">
						<a href="https://covidelpi.com/index.php" target="_blank">Live</a>
					</div>
				</div>
			</div>
			<div data-aos="flip-down" data-aos-delay="100" class="itemshow">
				<div class="thumb">
					<img src="./assets/thumbs/bavivo.jpg" alt="Bavivo">
				</div>
				<div class="padd col">
					<a data-aos="flip-down" href="https://bavivo.com.ar" target="_blank">Bavivo</a>
					<span data-aos="fade-in"><i>News portal from Argentina</i></span>
					<p data-aos="fade-in">My Roles: <i>HTML, CSS, PHP, Wordpress, JQuery, JS, UI/UX</i></p>
					<div class="row">
						<a href="https://bavivo.com.ar" target="_blank">Live</a>
					</div>
				</div>
			</div>
			<div data-aos="flip-down" data-aos-delay="200" class="itemshow">
				<div class="thumb">
					<img src="./assets/thumbs/livfreeint2.jpg" alt="LiveFreeInt">
				</div>
				<div class="padd col">
					<a data-aos="flip-down" href="https://www.livefreeint.com" target="_blank">LiveFreeInt</a>
					<span data-aos="fade-in"><i>Freelance platform</i></span>
					<p data-aos="fade-in">My Roles: <i>HTML, CSS, AOS Animations, UI/UX</i></p>
					<div class="row">
						<a href="https://www.livefreeint.com" target="_blank">Live</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<h3 data-aos="flip-rightx" data-aos-delay="150" data-aos-duration="300">Apps & Games</h3>
		<p data-aos="fade-inx" data-aos-delay="220">Game developing is one of the hardests tasks that I did, it does not only involve programming after all. A great game needs to give feedback on every action the player does, whether it is with sound, a visual response or both. Color theory and visual balance needs to be applied because good symmetry communicates and feels better!</p>
		<div class="row persp colmob">
			<div data-aos="flip-rightx" class="row card games colmob">
				<a class="app" href="https://play.google.com/store/apps/details?id=com.MajinGames.StarShooters" target="blank">
					<img src="https://play-lh.googleusercontent.com/47DuCQYPVYh_N3R0FGY_oqFUmrAJzcUTYC2nkqBhc_vhpDMkT9g30B4QaQxYR_S5GBk=s180-rw" alt="">
				</a>
				<div class="col coolblur">
					<a href="https://play.google.com/store/apps/details?id=com.MajinGames.StarShooters" target="blank">Star Shooters</a>
					<p><i>Unity3D, C#, Google Play, UI/UX, Sound Design</i></p>
					<p>Star Shooters is an arcade game similar to the legendary retro "Space Invaders", in which you must survive the invading ships in the galaxy, avoid being shot down by the star troops.</p>
				</div>
			</div>
			<div data-aos="cardopen" class="cardr col">
				<h6>The Stack</h6>
				<hr>
				<span>Languages</span>
				<ul class="row">
					<li>C#</li>
					<li>C/C++</li>
					<li>UnityScript</li>
					<li>Lua</li>
					<li>Kotlin</li>
					<li>Python</li>
				</ul>
				<span>Tools</span>
				<ul class="row">
					<li>Unity3D</li>
					<li>Android Studio</li>
					<li>React Native</li>
					<li>Blender</li>
					<li>VBox</li>
					<li>FL Studio</li>
				</ul>
				<span>Third party usage</span>
				<ul class="row">
					<li>Firebase</li>
					<li>Google Analytics</li>
					<li>Google Play Console</li>
					<li>Google Admob</li>
					<li>Google Play Games API</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="freeh dn">
		<h3 data-aos="fade-right" data-aos-duration="300">Sound design & Music production</h3>
		<div class="row card music coolblur">
			<a class="app" href="https://www.instagram.com/fifthdice/" target="blank">
				<img src="https://lh3.googleusercontent.com/ogw/ADea4I6uj6kFxgJ7USV8SUUlSsUQdNpKlELmidPADSUoTg=s223" alt="">
			</a>
			<div class="col">
				<p><a href="https://www.instagram.com/fifthdice/" target="_blank">𝕱𝖎𝖋𝖙𝖍𝕯𝖎𝖈𝖊 | Music Productions</a></p>
			</div>
		</div>
		<div class="igpostlist">
			<ng-container *ngFor="let post of igposts">
				<div data-aos="fade-up" *ngIf="post.thumbnail_url" class="igpost">
					<a href="{{post.permalink}}" target="_blank">
						<img src="{{post.thumbnail_url}}" alt="{{post.caption}}">
					</a>
					<div class="meta">
						<h6>Click to play</h6>
						<p><i>@{{post.username}}</i></p>
					</div>
				</div>
			</ng-container>
		</div>
	</section>
</div>

<script type="text/javascript">
	alert('test');
</script>


















