<div class="handle">
	<section class="hero">
		<div class="fade"></div>
		<p class="dn"><i>The first thing I do when starting a project whether it's in a team or not, is to set the working procedure and study the current one in case there is. This way defines how should we be working and clears the mayority of the doubts, it makes a team feel confortable and in syncronization.</i></p>
		<h1>Hello, <span>I'm Cristian</span></h1>
		<h2>Frontend Wizard</h2>
		<div class="nav">
			<a href="#!" routerLink='portfolio'><h6>Portfolio</h6></a>
			<a href="#!" routerLink='contact'><h6>Contact</h6></a>
			<a href="#!" routerLink='blog'><h6>Blog</h6></a>
		</div>
	</section>
</div>